*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
    justify-items: space-between;
}