*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
}

html,body{
    height: 100%;
    width: 100%;
}



.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    margin-right: 2vw;
    margin-left: 2vw;
    background: yellow;
}

.list{
    display: flex;
    justify-items: space-between;
    gap: 3vw;
}

.list a {
    text-decoration: none;
    color: wheat;
    transition: ease-in-out;
    transition-duration: 0.5s;    
}

.list a:hover {
    text-decoration: underline;
    color: rgb(255, 205, 112);
    font-weight: bolder;
}

