* {
  margin: 0;
  padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  color: #111;
  line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

/* css for header  */

.header {
  border-bottom: 1px solid #eee;
  background: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo {
  margin-top: 0.5vw;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav a {
  font-size: 14px;
  font-weight: 500;
}

.header-actions button {
    gap: 4vw;
  background: none;
  border: none;
  font-size: 18px;
  margin-left: 12px;
  cursor: pointer;
}

